@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
.wrapper {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #2c3e50;
  display: flex;
  justify-content: center;
}

.zoom {
  transition: transform 0.2s;
  cursor: pointer;
}
.zoom:hover {
  transform: scale(1.05);
}

.fs-7 {
  font-size: 1.2rem;
}

.fs-8 {
  font-size: 0.8rem;
}

.scrolller {
  overflow-x: auto;
  white-space: nowrap;
}

@media (max-width: 990px) {
  #canvas {
    display: block;
    order: 1;
  }
  #colorPicker1 {
    display: block;
    order: 2;
  }
  #colorPicker2 {
    display: block;
    order: 3;
  }
}
